body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.el {
    display: grid;
    grid-template-columns: 200px 1fr;
}