body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.el {
    display: grid;
    grid-template-columns: 200px 1fr;
}

/* Add media query for smartphones */
@media only screen and (max-width: 600px) {
    .el {
        grid-template-columns: 100px 1fr;
    }
}

/* Photos page */
.photo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-top: 2rem;
}

.photo-el {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    max-width: 100%;
}

.photo {
    object-fit: contain;
    max-width: 100%;
    max-height: 500px;
    width: auto;
}

.photo-el p {
    color: #868e96;
    font-size: 0.75rem;
}